@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Courgette&family=Dosis:wght@200&family=Josefin+Sans:ital,wght@0,100;0,700;1,700&family=Pushster&family=Readex+Pro:wght@200;600&family=Satisfy&family=Smooch&display=swap');



* {
    transition: 0,3s;
    margin: 0;
    padding: 0;
    text-align: center;
    
}
body {
    background-color: rgb(44, 44, 44);
}
.backgroundcover {
    overflow: hidden;
    border-radius: 10px;
    width: 300px;
    height:auto;
    padding: 20px;
    background-color: rgb(255, 255, 255);
}
.mysneakrs {

    background: white;
    width: 300px;
    height:300px;
    background-size: cover;
   
    background-image: url("https://n.nordstrommedia.com/id/sr3/62b97353-a07e-44dc-bb33-dac0e5da9d4e.jpeg?crop=pad&pad_color=FFF&format=jpeg&trim=color&trimcolor=FFF&w=780&h=838");
}
.colorbuttons button {
    cursor: pointer;
    width: 22px;
    height: 22px;
    outline: 0;
    border: 0;
    margin: 5px;
    
    border-collapse:collapse;
    border-spacing: 15px;
    border-radius: 50%;
    background: #FC9918;
}
.colorbuttons button:hover {
    box-shadow: 0px 0px 25px 1px tomato;
}
 
button:nth-child(2) {
    background: #370665;
}
button:nth-child(3) {
    background: #35589A;
}
button:nth-child(4) {
    background: #F14A16;
}
#orderbtn {
    padding: 10px 30px;
    background: black;
    color: white;
    outline: none;
    border: none;
    border-radius:50px;
    font-weight: bold;
}
.textcontent {
    
    padding: 30px 30px;
 
    letter-spacing: 1.25px;
    font-family: 'Bebas Neue',sans-serif;
    font-weight: bold;
}
#orderbtn {
    margin-top:15px;
}
#descriptions {
    margin-top: 10px;
}

.maincontainer {
    flex-wrap: wrap;
    margin: 50px;
    display: flex;
    justify-content: center;
     
}
.backgroundcover {
    margin: 30px;
}





.ordercontainer {
    border-radius:10px;
    width: 300px;
    height: 516px;
    opacity: 50%;
    position: absolute;
    background: red;
}